---
layout: default
title: Hire Kubeify Team for cloud infrastructure setup
description: Customers worldwide rely on Kubeify for cloud infrastructure setup that is fast, easy, and affordable.
canonical_url: 'https://kubeify.com/customers'
image: /images/customers.png
---


<section class="page-bg-header contact-hero py-5 text-white dark-bg">
  <div class="container text-center">
    <h1 class="display-4">Our Customers</h1>
    <p class="lead mt-3">Customers worldwide rely on Kubeify for cloud infrastructure setup that is fast, easy, and affordable.</p>
    <a href="/contact" class="btn btn-primary mt-4 px-4 py-2">Contact Us</a>
  </div>
</section>




<div class="customer-logos pt-5 pb-5">
  <div class="container">
    <div class="row">
      <div class="col-md-3 col-sm-4 col-xs-6">
        <div class="customer-logo-item">
          <img src="/images/clients/1dossier.png" alt="1dossier" class="rounded-circle customer-logo-img">
        </div>
      </div>
      <div class="col-md-3 col-sm-4 col-xs-6">
        <div class="customer-logo-item">
          <img src="/images/clients/auzmor.png" alt="auzmor" class="rounded-circle customer-logo-img">
        </div>
      </div>
      <div class="col-md-3 col-sm-4 col-xs-6">
        <div class="customer-logo-item">
          <img src="/images/clients/barknlounge.png" alt="barknlounge" class="rounded-circle customer-logo-img">
        </div>
      </div>

      <div class="col-md-3 col-sm-4 col-xs-6">
        <div class="customer-logo-item">
          <img src="/images/clients/dbmt-group.png" alt="dbmt-group" class="rounded-circle customer-logo-img">
        </div>
      </div>
      <div class="col-md-3 col-sm-4 col-xs-6">
        <div class="customer-logo-item">
          <img src="/images/clients/maverick.png" alt="maverick" class="rounded-circle customer-logo-img">
        </div>
      </div>
      <div class="col-md-3 col-sm-4 col-xs-6">
        <div class="customer-logo-item">
          <img src="/images/clients/trice.png" alt="trice" class="rounded-circle customer-logo-img">
        </div>
      </div>
      <div class="col-md-3 col-sm-4 col-xs-6">
        <div class="customer-logo-item">
          <img src="/images/clients/techmahindra.jpg" alt="techmahindra" class="rounded-circle customer-logo-img">
        </div>
      </div>
      <div class="col-md-3 col-sm-4 col-xs-6">
        <div class="customer-logo-item">
          <img src="/images/clients/y-axis.jpg" alt="y-axis" class="rounded-circle customer-logo-img">
        </div>
      </div>
      <div class="col-md-3 col-sm-4 col-xs-6">
        <div class="customer-logo-item">
          <img src="/images/clients/railsroot.png" alt="railsroot" class="rounded-circle customer-logo-img">
        </div>
      </div>
      <div class="col-md-3 col-sm-4 col-xs-6">
        <div class="customer-logo-item">
          <img src="/images/clients/codecrux.png" alt="codecrux" class="rounded-circle customer-logo-img">
        </div>
      </div>
      <div class="col-md-3 col-sm-4 col-xs-6">
        <div class="customer-logo-item">
          <img src="/images/clients/comakeit.png" alt="comakeit" class="rounded-circle customer-logo-img">
        </div>
      </div>
      <div class="col-md-3 col-sm-4 col-xs-6">
        <div class="customer-logo-item">
          <img src="/images/clients/hiredgrad.png" alt="hiredgrad" class="rounded-circle customer-logo-img">
        </div>
      </div>
    </div>
  </div>
</div>



{% include old-testimonial.html %}
{% include cta.html %}
