<div id="cookieConsent" style="display: none" class="cookie-box">
  <button type="button" class="close" id="closeCookieBox" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
  <div class="container-fluid">
    <div class="row">
      <div class="col-xs-12">
        <p class="cookie-message">
          This website uses cookies to ensure you get the best experience.
        </p>
      </div>
      <div class="col-xs-12 text-right">
        <button id="acceptCookies" class="btn btn-success btn-sm">
          Accept
        </button>
        <button id="denyCookies" class="btn btn-danger btn-sm">Deny</button>
      </div>
    </div>
  </div>
</div>
