
    <div class="footer bg-dark">
      <div class="container py-5">
        <div class="footer-top">
          <div class="footer-logo-section">
            <div class="brand-text">Kubeify</div>
            <div class="footer-description py-2">
              We unleash growth by helping companies adopt cloud native
              technologies with our products and services!
            </div>
            <div class="footer-social-icons d-flex py-2">
              <a href="https://www.linkedin.com/company/kubeify" target="_blank" class="footer-social-icon"><i class="fa-brands fa-linkedin"></i></a>
              <a href="https://x.com/kubeify" target="_blank" class="footer-social-icon"><i class="fa-brands fa-twitter"></i></a>
              <a href="https://www.youtube.com/@kubeifyk8s45/videos" class="footer-social-icon" target="_blank"><i class="fa-brands fa-youtube"></i></a>
            </div>
          </div>
          <div class="footer-badges">
            <img src="/images/kubernetes-certified-engineers.svg" alt="kubernetes certified engineers" class="footer-badge" />
            <img src="/images/gcp-cloud-certified-developer.png" alt="gcp cloud certified developer" class="footer-badge" />
            <img src="/images/aws-certified-cloud-practitioner.png" alt="aws certified cloud practitioner" class="footer-badge" />
            <img src="/images/partners/digitalocean.png" alt="digital ocean" class="footer-badge" />
            <img src="/images/partners/docker.png" alt="docker" class="footer-badge" />
          </div>
        </div>

        <div class="footer-main-content">
          <div class="footer-item">
            <h4>AI Cloud</h4>
            <ul class="footer-nav">
              <li><a href="#">Cloud Native Product Development</a></li>
              <li><a href="#">Cloud Native FaaS</a></li>
              <li><a href="#">Monolith to Microservices</a></li>
              <li><a href="#">DevSecOps as a Service</a></li>
              <!-- <li><a href="#">Extending Kubernetes Whitepaper</a></li> -->
              <li><a href="#">Kubernetes Zero Downtime</a></li>
            </ul>
            <h4 class="mt-2 pt-3">Product Engineering</h4>
            <ul class="footer-nav">
              <li><a href="#">Platform Engineering Consulting</a></li>
              <li><a href="#">Backstage Consulting</a></li>
              <li><a href="#">Progressive Delivery</a></li>
              <li><a href="#">CI/CD & Dev Experience</a></li>
            </ul>
          </div>

          <div class="footer-item">
            <h4>Application Modernization</h4>
            <ul class="footer-nav">
              <li><a href="#">Monolith to Microservices</a></li>
              <li><a href="#">Kubernetes Consulting Services</a></li>
              <li><a href="#">GitOps Consulting</a></li>
              <li><a href="#">CI/CD & Dev Experience</a></li>
              <li><a href="#">DevOps Toolchain</a></li>
              <li><a href="#">ArgoCD Consulting</a></li>
              <li><a href="#">Jenkins Consulting</a></li>
              <li><a href="#">Cloud Migration Consulting</a></li>
              <li><a href="#">FinOps Consulting</a></li>
              <li><a href="#">vCluster Consulting</a></li>
            </ul>
            
          </div>

          <div class="footer-item">
            <h4>Site Reliability Engineering</h4>
            <ul class="footer-nav">
              <li><a href="#">SRE Consulting</a></li>
              <li><a href="#">Service Mesh Consulting</a></li>
              <li><a href="#">Cloud Native Networking</a></li>
              <li><a href="#">Istio Consulting</a></li>
              <li><a href="#">Linkerd Consulting</a></li>
              <li><a href="#">Tetratom Consulting</a></li>
              <li><a href="#">Backup & Disaster Recovery</a></li>
              <li><a href="#">Bare Metal Provisioning Consulting</a></li>
            </ul>
            <!-- <h4 class="mt-2 pt-3">Consulting Partners</h4>
            <ul class="footer-nav">
              <li><a href="#">Razorops Partner</a></li>
              <li><a href="#">Digital Ocean Cloud Partner</a></li>
              <li><a href="#">e2e networks cloud</a></li>
              <li><a href="#">IBM Cloud Partner</a></li>
              <li><a href="#">AWS Cloud Partner</a></li>
              <li><a href="#">GCP Cloud Partner</a></li>
              <li><a href="#">Azure Cloud Partner</a></li>
            </ul> -->
          </div>

          <div class="footer-item">
            <h4>Enterprise Support</h4>
            <ul class="footer-nav">
              <li><a href="#">Linkerd Support</a></li>
              <li><a href="#">Istio Support</a></li>
              <li><a href="#">Argo CD Support</a></li>
              <li><a href="#">Prometheus Support</a></li>
              <li><a href="#">Kasten K10 Support</a></li>
            </ul>
            <h4 class="pt-3">Observability & DevSecOps</h4>
            <ul class="footer-nav">
              <li><a href="#">DevSecOps Consulting</a></li>
              <li><a href="#">Observability Consulting</a></li>
              <li><a href="#">Grafana Consulting</a></li>
              <li><a href="#">Prometheus Consulting</a></li>
            </ul>
            
          </div>

          <div class="footer-item">
            <h4>Company</h4>
            <ul class="footer-nav">
              <li><a href="#">About Us</a></li>
              <li><a href="#">Careers</a></li>
              <li><a href="#">Mentoring Sessions</a></li>
              <li><a href="#">Contact Us</a></li>
            </ul>

            <h4 class="pt-3">Resources</h4>
            <ul class="footer-nav">
              <li><a href="#">Blogs</a></li>
              <li><a href="#">Webinars</a></li>
              <li><a href="#">Customers Stories</a></li>
              <li><a href="#">CNCF Landscape Navigator</a></li>
              <li><a href="#">Cloud Native & AI Talks</a></li>

            </ul>
            
          </div>
        </div>

        
      </div>
    </div>
    <div class="lower-footer text-center py-2">
    <span class="d-inline-block copyright">
      Copyright © <span id="year">2025</span> Kubeify (A CodeCrux Company). All Rights Reserved.
    </span>
  </div>
    <!-- Year Updater -->
    <script>
      document.getElementById("year").textContent = new Date().getFullYear();
    </script>

    <!-- jQuery + Bootstrap (if not already included) -->
    <script src="{{ site.baseurl }}/js/jquery.min.js"></script>
    <script src="{{ site.baseurl }}/js/bootstrap.min.js"></script>
    <script src="{{ site.baseurl }}/js/app.js"></script>

    <!-- Google Analytics (gtag.js) -->
    <script
      async
      src="https://www.googletagmanager.com/gtag/js?id=UA-142118821-1"
    ></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag() {
        dataLayer.push(arguments);
      }
      gtag("js", new Date());
      gtag("config", "UA-142118821-1");
    </script>

    <!-- HubSpot Embed Code -->
    <script
      type="text/javascript"
      id="hs-script-loader"
      async
      defer
      src="//js.hs-scripts.com/7280691.js"
    ></script>
  </body>
</html>
