
    <div class="footer bg-dark">
      <div class="container py-5">
        <div class="footer-top">
          <div class="footer-logo-section">
            <div class="brand-text">Kubeify</div>
            <div class="footer-description py-2">
              We unleash growth by helping companies adopt cloud native
              technologies with our products and services!
            </div>
            <div class="footer-social-icons d-flex py-2">
              <a href="https://www.linkedin.com/company/kubeify" target="_blank" class="footer-social-icon"><i class="fa-brands fa-linkedin"></i></a>
              <a href="https://x.com/kubeify" target="_blank" class="footer-social-icon"><i class="fa-brands fa-twitter"></i></a>
              <a href="https://www.youtube.com/@kubeifyk8s45/videos" class="footer-social-icon" target="_blank"><i class="fa-brands fa-youtube"></i></a>
            </div>
          </div>
          <div class="footer-badges">
            <img src="/images/kubernetes-certified-engineers.svg" alt="kubernetes certified engineers" class="footer-badge" />
            <img src="/images/gcp-cloud-certified-developer.png" alt="gcp cloud certified developer" class="footer-badge" />
            <img src="/images/aws-certified-cloud-practitioner.png" alt="aws certified cloud practitioner" class="footer-badge" />
            <img src="/images/partners/digitalocean.png" alt="digital ocean" class="footer-badge" />
            <img src="/images/partners/docker.png" alt="docker" class="footer-badge" />
          </div>
        </div>



        
      </div>
    </div>
    <div class="lower-footer text-center py-2">
    <span class="d-inline-block copyright">
      Copyright © <span id="year">2025</span> Kubeify (A CodeCrux Company). All Rights Reserved.
    </span>
  </div>
    <!-- Year Updater -->
    <script>
      document.getElementById("year").textContent = new Date().getFullYear();
    </script>

    <!-- jQuery + Bootstrap (if not already included) -->
    <script src="{{ site.baseurl }}/js/jquery.min.js"></script>
    <script src="{{ site.baseurl }}/js/bootstrap.min.js"></script>
    <script src="{{ site.baseurl }}/js/app.js"></script>

    <!-- Google Analytics (gtag.js) -->
    <script
      async
      src="https://www.googletagmanager.com/gtag/js?id=UA-142118821-1"
    ></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag() {
        dataLayer.push(arguments);
      }
      gtag("js", new Date());
      gtag("config", "UA-142118821-1");
    </script>

    <!-- HubSpot Embed Code -->
    <script
      type="text/javascript"
      id="hs-script-loader"
      async
      defer
      src="//js.hs-scripts.com/7280691.js"
    ></script>
  </body>
</html>
