        <div class="footer-main-content">
          <div class="footer-item">
            <h4>AI Cloud</h4>
            <ul class="footer-nav">
              <li><a href="#">Cloud Native Product Development</a></li>
              <li><a href="#">Cloud Native FaaS</a></li>
              <li><a href="#">Monolith to Microservices</a></li>
              <li><a href="#">DevSecOps as a Service</a></li>
              <!-- <li><a href="#">Extending Kubernetes Whitepaper</a></li> -->
              <li><a href="#">Kubernetes Zero Downtime</a></li>
            </ul>
            <h4 class="mt-2 pt-3">Product Engineering</h4>
            <ul class="footer-nav">
              <li><a href="#">Platform Engineering Consulting</a></li>
              <li><a href="#">Backstage Consulting</a></li>
              <li><a href="#">Progressive Delivery</a></li>
              <li><a href="#">CI/CD & Dev Experience</a></li>
            </ul>
          </div>

          <div class="footer-item">
            <h4>Application Modernization</h4>
            <ul class="footer-nav">
              <li><a href="#">Monolith to Microservices</a></li>
              <li><a href="#">Kubernetes Consulting Services</a></li>
              <li><a href="#">GitOps Consulting</a></li>
              <li><a href="#">CI/CD & Dev Experience</a></li>
              <li><a href="#">DevOps Toolchain</a></li>
              <li><a href="#">ArgoCD Consulting</a></li>
              <li><a href="#">Jenkins Consulting</a></li>
              <li><a href="#">Cloud Migration Consulting</a></li>
              <li><a href="#">FinOps Consulting</a></li>
              <li><a href="#">vCluster Consulting</a></li>
            </ul>
            
          </div>

          <div class="footer-item">
            <h4>Site Reliability Engineering</h4>
            <ul class="footer-nav">
              <li><a href="#">SRE Consulting</a></li>
              <li><a href="#">Service Mesh Consulting</a></li>
              <li><a href="#">Cloud Native Networking</a></li>
              <li><a href="#">Istio Consulting</a></li>
              <li><a href="#">Linkerd Consulting</a></li>
              <li><a href="#">Tetratom Consulting</a></li>
              <li><a href="#">Backup & Disaster Recovery</a></li>
              <li><a href="#">Bare Metal Provisioning Consulting</a></li>
            </ul>
            <!-- <h4 class="mt-2 pt-3">Consulting Partners</h4>
            <ul class="footer-nav">
              <li><a href="#">Razorops Partner</a></li>
              <li><a href="#">Digital Ocean Cloud Partner</a></li>
              <li><a href="#">e2e networks cloud</a></li>
              <li><a href="#">IBM Cloud Partner</a></li>
              <li><a href="#">AWS Cloud Partner</a></li>
              <li><a href="#">GCP Cloud Partner</a></li>
              <li><a href="#">Azure Cloud Partner</a></li>
            </ul> -->
          </div>

          <div class="footer-item">
            <h4>Enterprise Support</h4>
            <ul class="footer-nav">
              <li><a href="#">Linkerd Support</a></li>
              <li><a href="#">Istio Support</a></li>
              <li><a href="#">Argo CD Support</a></li>
              <li><a href="#">Prometheus Support</a></li>
              <li><a href="#">Kasten K10 Support</a></li>
            </ul>
            <h4 class="pt-3">Observability & DevSecOps</h4>
            <ul class="footer-nav">
              <li><a href="#">DevSecOps Consulting</a></li>
              <li><a href="#">Observability Consulting</a></li>
              <li><a href="#">Grafana Consulting</a></li>
              <li><a href="#">Prometheus Consulting</a></li>
            </ul>
            
          </div>

          <div class="footer-item">
            <h4>Company</h4>
            <ul class="footer-nav">
              <li><a href="/about" alt="About Kubeify">About Us</a></li>
              <li><a href="/join-our-team" alt="Kubeify Jobs">Join our team</a></li>
              <li><a href="/contact" alt="Contact Kubeify">Contact Us</a></li>
            </ul>

            <h4 class="pt-3">Resources</h4>
            <ul class="footer-nav">
              <li><a href="/blog" alt="Kubeify Blogs">Blogs</a></li>
              <li><a href="/webinars" alt="Kubeify Webinars">Webinars</a></li>
              <li><a href="/customers" alt="Kubeify Customers">Customers Stories</a></li>
              <li><a href="https://landscape.cncf.io/" target="_blank" alt="CNCF Landscape Navigator">CNCF Landscape Navigator</a></li>
              <li><a href="https://www.cncf.io/events/" target="_blank">Cloud Native & AI Talks</a></li>
            </ul>
            
          </div>
        </div>