<!-- Kubernetes Implementation Section -->
<section id="kubernetes-implementation" class="bg-light py-5">
    <div class="container text-center">
      <h1 class="grd-text">What we do?</h1>
      <p class="sub-head">
        We help teams to adopt production ready Kubernetes deployments.
      </p>
    </div>
    <div class="container mt-4">
        <div class="row">


           <!-- <div class="col-sm-6 col-md-3 mb-4 slide-right">
              <div class="card">
                  <img src="/images/services/services4.jpg" class="card-img" alt="Before Hover">
                  <div class="bottom-section">
                      <h5>MLOps & AI/ML Deployment</h5>
                  </div>
                  <div class="overlay">
                      <h5>MLOps & AI/ML Deployment</h5>
                      <p>
                        <ul class="list-services">
                          <li> Kubernetes for machine learning model deployment</li>
                          <li> Scalable inference services with KServe or Seldon</li>
                          <li> Model training pipelines with Kubeflow</li>
                        </ul>
                      </p>
                  </div>
              </div>
            </div> -->

            <div class="col-sm-6 col-md-3 mb-4 slide-right">
              <div class="card">
                  <img src="/images/services/services4.jpg" class="card-img" alt="Before Hover">
                  <div class="bottom-section">
                      <h5>AWS Account & Cost Optimization</h5>
                  </div>
                  <div class="overlay">
                      <h5>AWS Account & Cost Optimization</h5>
                      <p>
                        <ul class="list-services">
                          <li> Right-sizing resources</li>
                          <li> Optimizing pricing models</li>
                          <li> Automating resource management</li>
                          <li> Resource life cycle management</li>
                        </ul>
                      </p>
                  </div>
              </div>
            </div>
  
          <div class="col-sm-6 col-md-3 mb-4 slide-right">
              <div class="card">
                  <img src="/images/services/services7.jpg" class="card-img" alt="Before Hover">
                  <div class="bottom-section">
                      <h5>Kubernetes Cost Optimization & Resource Efficiency</h5>
                  </div>
                  <div class="overlay">
                      <h5>Cost Optimization & Resource Efficiency</h5>
                      <p>
                        <ul class="list-services">
                          <li> Right-sizing pods and nodes</li>
                          <li> Horizontal and vertical pod autoscaling</li>
                          <li> Cost monitoring and reporting with tools like Kubecost</li>
                        </ul>
                      </p>
                        <a href="/kubernetes-cost-optimization" class="btn btn-danger btn-rounded">Read more</a>
                  </div>
              </div>
            </div>
  
  
           
          
  
          
            <!-- Repeat till 4 items are filled -->
  
  
            <div class="col-sm-6 col-md-3 mb-4 slide-left">
              <div class="card">
                  <img src="/images/services/services5.jpg" class="card-img" alt="Before Hover">
                  <div class="bottom-section">
                      <h5>Kubernetes Monitoring & Observability</h5>
                  </div>
                  <div class="overlay">
                      <h5>Kubernetes Monitoring & Observability</h5>
                      <p>
                        <ul class="list-services">
                          <li> Prometheus, Grafana, and Loki setup</li>
                          <li> Application and infrastructure monitoring</li>
                          <li> Distributed tracing with Jaeger or OpenTelemetry
                          </li>
                        </ul>
                      </p>
                      <!-- <a href="#" class="read-more btn btn-rounded">Read more</a> -->
                  </div>
              </div>
            </div>
  
           
           

            <div class="col-sm-6 col-md-3 mb-4 slide-left">
                <div class="card">
                    <img src="/images/services/services2.jpg" class="card-img" alt="Before Hover">
                    <div class="bottom-section">
                        <h5>Kubernetes Scaling with Expert Karpenter Consulting</h5>
                    </div>
                    <div class="overlay">
                        <h5>Kubernetes Scaling with Expert Karpenter Consulting</h5>
                        <p>
                          <ul class="list-services">
                            <li> Wasted Cloud Spend</li>
                            <li> Complex Configuration</li>
                            <li> Poor Scaling Performance</li>
                          </ul>
                        </p>
                        <a href="/karpenter-consulting-for-kubernetes-scaling" class="btn btn-danger btn-rounded">Read more</a>
                    </div>
                </div>
            </div>
            
        </div>
    </div>
</section>
<script>
  document.addEventListener("scroll", () => {
      document.querySelectorAll('.fade-in, .scale-up, .slide-left, .slide-right, .slide-up, .blur-in').forEach((element) => {
          const position = element.getBoundingClientRect().top;
          if (position < window.innerHeight - 100) {
              element.classList.add('visible');
          }
      });
  });
</script>