<div
  class="modal fade"
  id="delayedModal"
  tabindex="-1"
  aria-labelledby="delayedModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-body">
        <div class="text-center">
          <img
            src="/images/kubernetes-architecture.png"
            alt="Popup Image"
            class="img-responsive center-block"
            style="max-width: 200px; margin-top: 15px; margin-bottom: 15px"
          />
        </div>

        <h4 class="fw-bold text-center">AI-Driven Kubernetes Optimization</h4>
        <p class="fs-5 mb-4 text-center">
          Max Performance, Min Spend, Any Cloud.
        </p>

        <div class="d-flex justify-content-center gap-3">
          <a href="/schedule-meeting" class="btn cta-button btn-rounded"
            >SCHEDULE MEETING</a
          >
        </div>
      </div>
    </div>
  </div>
</div>
