<div class="bg-light pt-5 pb-5 work-hero">
  <div class="container">
    <div class="row">
      <div class="col-md-10 offset-md-1">
        <div class="media">
          <img
            src="/images/clients/yaron-oren.jpeg"
            class="mr-4 rounded-circle"
            width="120"
            alt="yaron-oren"
          />
          <div class="align-self-center msg-txt-18 font-italic mt-4 mt-md-0">
            Kubeify's team <b>decrease the time</b> it takes to adopt open
            source technology while enabling consistent application environments
            across deployments...letting our developers focus on application
            code while improving speed and quality of our releases.<br />
            <b>- Yaron Oren, Founder Maverick.ai (acquired by OutboundWorks)</b>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
